.section-contact {
    max-width: 1100px;
    width: 100%;
    padding: 117px 0 78px 0;
    margin: 0 auto;

    .contact {
        display: flex;
        justify-content: space-between;

        &__content {
            max-width: 434px;
            width: 100%;
        }

        &__heading {
            font-size: 36px;
            font-weight: 600;
            line-height: 43px;

        }

        &__subtext {
            margin-top: 60px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

        }

        .form {
            display: flex;
            flex-direction: column;
            max-width: 540px;
            width: 100%;
            border-radius: 6px;

            &__button {
                height: 50px;
                width: 158px;
                color: white;
                background-color: $red;
                border: 1px solid $red;
                border-radius: 6px;
                font-size: 14px;
                text-transform: uppercase;
                flex-shrink: 0;

                &:hover {
                    cursor: pointer;
                    border: 2px solid $red;
                    background-color: $white;
                    color: $red;
                    transition: background-color .3s;
                }

            }

            .form__input,
            .form__select {

                color: #112541;
                padding: 20px 0 20px 30px;
                border: 1px solid #333333;
                background: white;
                border-radius: 6px;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                margin-bottom: 24px;
                -webkit-appearance: none;

            }

            .form__select-wrapper {
                position: relative;

                .select-custom-arrow {
                    pointer-events: none;
                    content: "";
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    display: block;
                    background-color: white;
                    height: 53px;
                    width: 65px;

                    &::after {
                        content: "";
                        display: block;
                        right: calc(50% - 5px);
                        top: calc(50% - 9px);
                        width: 10px;
                        height: 10px;
                        transform: rotate(45deg);
                        border-right: 1px solid #112541;
                        border-bottom: 1px solid #112541;
                        position: absolute;
                    }
                }
            }

            &__select {

                width: 100%;
                font-size: 15px;
                padding-right: 60px;
                color:#112541;
                
            }

            &__flex-inputs {
                display: flex;
                justify-content: space-between;

                input {
                    width: calc(50% - 15px);
                }
            }

            &__error-message {
                position: relative;
                max-height: 0;
                max-width: 100%;
                height: 100%;
                width: 100%;
                font-size: 16px;
                color: $red;
                opacity: 0;
                transition: 0.3s;
            }

            &.success {
                .form__error-message {
                    color: rgb(164, 218, 83);
                }
            }

            &.validating {
                .form__error-message {
                    max-height: 100%;
                    opacity: 1;
                    transition: 0.3s;
                    margin-bottom: 24px;

                }
            }
        }

        @media screen and (max-width:1200px) {
            flex-direction: column;
            align-items: center;

            &__content {
                margin-bottom: 64px;
            }

        }

        @media screen and (max-width:767px) {
            .form {
                height: 100%;
            }

            .form__button {
                width: 100%;
                margin-top: 32px;
            }

            .form__flex-inputs {
                display: block;

                input {
                    width: 100%;
                }
            }

        }

        @media screen and (max-width:600px) {
            .form {
                &__select {
                    padding: 16px 0 16px 30px;
                    font-size: 14px;
                }

                .select-custom-arrow {
                    height: 45px;
                }
            }

        }


    }

    @media screen and (max-width:767px) {
        padding: 64px 0;
    }

    @media screen and (max-width:600px) {
        padding: 64px 16px 64px 16px;
    }
}
