.section-features {
    background-color: rgba(250, 250, 250, 1);
    padding: 64px 0 128px 0;

    .features {
        max-width: 1112px;
        margin: 0 auto;

        &__heading {
            font-weight: 600;
            margin-bottom: 74px;
            font-size: 36px;
            line-height: 43px;
            text-align: center;
        }

        &__boards-wrapper {
            display: grid;
            column-gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width:1200px) {
            &__boards-wrapper {
                grid-template-columns: repeat(2, 0fr);
                row-gap: 60px;
                justify-content: center;
            }
        }

        @media screen and (max-width:767px) {
            &__boards-wrapper {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        @media screen and (max-width:600px) {
            max-width: 360px;
        }


    }

    .board {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 350px;
        height: 350px;
        cursor: pointer;
        z-index: 0;

        @media screen and (max-width:600px) {
            width: 100%;
        }

        &:hover .image {
            transform: scale(1.1);
            transition: all 1.2s;
        }

        &__image {
            position: relative;
            width: 350px;
            height: 250px;
            overflow: hidden;
            border-radius: 6px;
            z-index: 1;

            @media screen and (max-width:600px) {
                width: 100%;

            }

            .image {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all 1.2s;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

            }
        }

        &:nth-of-type(1) {
            .image {
                background-image: url('../images/content/Bg1.png');
            }
        }

        &:nth-of-type(2) {
            .image {
                background-image: url('../images//content/Bg.png');
            }
        }

        &:nth-of-type(3) {
            .image {
                background-image: url('../images//content/Bg2.png');
            }
        }

        &__content {
            margin: 0 auto;
            padding: 33px 32px;
            position: relative;
            bottom: 94px;
            max-width: 293px;
            width: 100%;
            height: 198px;
            box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            background-color: $white;
            z-index: 2;

            @media screen and (max-width:600px) {
                padding: 24px 24px;
                max-width: 100%;
                bottom: 64px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }


        }

        &__heading {
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            text-align: center;
        }

        &__subtext {
            max-width: 293px;
            height: 57px;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            margin: 20px auto 5px auto;

        }

        &__link {
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: $red;
            width: 100%;
            display: block;
            margin-top: auto;
            font-size: 12px;
            line-height: 18px;
            font-weight: 700;
        }
    }


    @media screen and (max-width:600px) {
        padding: 64px 16px 96px 16px;

    }
}