.header {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 3;

    @media screen and (max-width:1056px) {
        height: 45px;
    }

    &-wrapper {
        display: flex;
        max-width: 1201px;
        width: 100%;
        height: 30px;
        margin: 0 auto;
        padding: 0 25px;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:1056px) {
            padding: 0 10px;
            justify-content: unset;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        padding-right: 233px;
        margin-left: 24px;

        @media screen and (max-width:1056px) {
            padding-right: 20px;
        }

        &__text {
            margin-left: 10px;
            font-size: 18px;
        }

        span {
            color: white;
            text-transform: uppercase;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        white-space: nowrap;

        &__item {
            cursor: pointer;
            margin-right: 20px;

        }

        @media screen and (max-width:1056px) {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
            width: 0;

            &__item {
                width: 0;
                margin-right: 0px;
            }
        }


    }


    .hamburger {
        position: relative;
        display: none;
        padding: 15px 15px;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;

        overflow: visible;
        z-index: 10;

        @media screen and (max-width:1056px) {
            display: inline-block;
            margin-left: auto;
        }
    }

    .hamburger:hover {
        opacity: 0.7;
    }

    .hamburger-box {
        width: 28px;
        height: 11px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 28px;
        height: 2px;
        background-color: white;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -9px;
    }

    .hamburger-inner::after {
        bottom: -9px;
    }

    /*
   * Squeeze
   */
    .hamburger--squeeze .hamburger-inner {
        transition-duration: 0.1s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze .hamburger-inner::before {
        transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    }

    .hamburger--squeeze .hamburger-inner::after {
        transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze.is-active .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.14s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease, opacity 0.1s 0.14s ease;
    }

    .hamburger--squeeze.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

body.is-active {
    overflow: hidden;

    .menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(213, 32, 71, 1) 0%, rgba(238, 61, 27, 1) 100%);
        visibility: visible;
        opacity: 1;
        pointer-events: initial;
        z-index: 9;
        transition: opacity 0.3s;

        &__item {
            margin-bottom: 24px;
            width: auto;
        }
    }

    .header {
        position: fixed;
    }
}