.section-hero {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/content/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: 86.8%;
    background-position: 0 -10px;
    width: 100%;
    height: 782px;

    @media screen and (max-width:600px) {
        height: 100vh;
    }

    &__bg {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    }

    .hero {
        text-align: center;
        position: relative;
        top: 35px;
        left: 1px;
        z-index: 2;

        &__link {
            display: block;
            margin: 0 auto;
            max-width: 160px;
            font-size: 14px;
            line-height: 16.8px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            background-color: white;
            color: rgba(237, 76, 92, 1);
            border-radius: 6px;
            text-decoration: none;
            text-transform: uppercase;
            transition: background-color .3s;

            &:hover {
                border: 2px solid white;
                background-color: rgba(237, 76, 92, 0.1);
                ;
                color: white;
                line-height: 46px;
                transition: background-color .3s;
            }
        }

        &__heading {
            text-transform: uppercase;
            font-size: 72px;
            line-height: 86px;
            letter-spacing: 0.05em;
            font-weight: 700;

        }

        &__subtext {
            width: 100%;
            height: 124px;
            font-size: 24px;
            padding: 0 32px;
            line-height: 36px;
            margin: 39px 0;
            max-width: 547px;
            margin-left: 12px;

        }

    }

    @media screen and (max-width:767px) {
        .hero__heading {
            font-size: 52px;
            line-height: 1.4em;
        }

        .hero__subtext {
            font-size: 18px;
            line-height: 1.4em;
        }
    }

    @media screen and (max-width:600px) {
        .hero {
            &__heading {
                font-size: 32px;
            }

            &__subtext {
                font-size: 16px;
                max-width: 290px;
                margin-left: 0;
            }
        }
    }
}