.section-saving{
    overflow-x: hidden;
    color:$white;
    padding:94px 0 95px 0;
    background-color: $red;
    .saving{
        display: flex;
        justify-content: space-between;
        align-items: c;
        max-width:1112px;
        width: 100%;
        margin:0 auto;
        
        &__content{
            max-width: 460px;
            margin-top: 27px;
        }

        &__header{
            font-size: 36px;
            font-weight: 600;
            line-height: 43px;
        }
        &__subtext{
            margin: 45px 0 44px 0;
            padding-right: 24px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        &__icons-wrapper{
            display: grid;
            width:150px;
            column-gap: 26px;
            grid-template-columns: repeat(3,1fr);
            .icon{
                width: 24px;
                height: 24px;
                svg{
                    width: 24px;
                height: 24px;
                }
                &:nth-child(2){
                    position: relative;
                    top: 1px;
                    left: -3px;
                }
                &:nth-child(3){
                    position: relative;
                    top: 5px;
                    left: -7px;
                }
            }
        }
        
        .slider{
            width: 536px;
            height: 311px;
        }
    }
    @media screen and (max-width:1200px){
        
        .saving {
            flex-direction: column;
            align-items: center;
            &__content {
                margin-bottom: 84px;
              }
              .slider {
                width: 445px;
              }  
              
          }
    }
    @media screen and (max-width:767px){
        padding: 34px 0 64px 0;

    }
    @media screen and (max-width:600px){
        padding: 34px 16px 64px 16px;
    }
}