.slider-wrapper {
    position: relative;
    width: 645px;
    left: 83px;
    top: 19px;


    .slide {
        transition: all 1s;
        position: absolute;
        visibility: hidden;
        width: 383px;
        height: 267px;
        border-radius: 15px;
        opacity: 0;
        

        img {
            position: absolute;
            object-fit: cover;
            border-radius: 15px;
            width: 100%;
            height: 100%;
        }
    }

    .active,
    .prev,
    .next {
        visibility: visible;
        opacity: 1;
    }

    .active {
        top: -20px;
        z-index: 3;
          
          left:-89px;
        width: 445px;
        height: 311px;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .prev {
        transform: translateX(-132px);
        opacity: 0.5;
    }

    .next {
        opacity: 0.5;
        transform: translateX(17px);

    }

    @media screen and (max-width:600px){
    
        .slide{
            transition: opacity 1s;
        }
        
        .prev,.next {
            opacity: 0;
            width: 310px;
            height: 310px;
            transition: none;
          } 
        .active {
            left: -16px;
            width: 310px;
            height: 310px;
            
        }
    }
}



  