.section-technology {
    padding-bottom: 102px;
    &__heading {
        padding: 63px 0 62px 0;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        line-height: 43px;
    }

    .technology {
        max-width: 1112px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        margin: 5px auto 0 auto;

        &__item {
            width: 255px;
            height: 226px;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            transition: all 0.9s;
            // padding:10px;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
                transition: all 0.9s;
                cursor: pointer;
                border-radius: 20px;
                
            }

            .item-icon {
                position: relative;
                color: $gray;
                font-weight: 700;
                margin: 0 auto;
                text-align: center;
                font-size: 100px;
                line-height: 117px;
                height: 120px;
                width: 117px;

                .icon {
                    position: absolute;
                }
            }

            .item-heading {
                margin: 19px 0 10px 0;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                text-align: center;
            }

            .item-subtext {
                max-width:191px;
                width: 100%;
                margin: 0 auto;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                text-align: center;

            }
            &:nth-child(1){
                .icon{
                    bottom:-37px;
                    left:calc(50% - 40px);
                }
            }
            &:nth-child(2){
                .icon{
                    bottom: -29px;
                    left: calc(50% - 33px);
                }
            }
            &:nth-child(3){
                .icon{
                    bottom: -20px;
                    left: calc(50% - 23px);
                }
            }
            &:nth-child(4){
                .icon{
                    bottom: -22px;
                    left: calc(50% - 24px);
                }
            }
        }
       
    }
    @media screen and (max-width:1200px){
        .technology{
            grid-template-columns: repeat(2, 0fr);
            justify-content: center;
        }
        
    }
    @media screen and (max-width:767px){
        padding-bottom: 64px;
        &__heading {
            padding: 64px 0;
          }
    }
    @media screen and (max-width:600px){
        .technology{
             grid-template-columns: repeat(1, 0fr);
        }
    }
}