/**
 * Fonts
*/


@font-face {
  font-family: 'Lato';
  src:url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src:url("../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: 'Lato';
  src:url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}


$font-head: 'Lato', Fallback, sans-serif;

